{% include "header.html" %}
			<div id="statuses" class="apidoc">
			
				<p><h3>rank</h3></p>
				<p>排行榜</p>
				<p>&nbsp</p>
				<p><b>URL:</b></p>
				<p>http://twiteseapi.appspot.com/rank.json</p>
				
				<p>&nbsp</p>
				<p><b>HTTP Method:</b></p>
				<p>Response</p>
				
				<p>&nbsp</p>
				<p><b>Parameters:</b></p>
				<p>count (可选) 指定返回的条数，范围0-50，默认为20
				<p>page (可选) 指定返回的页码，默认为1</p>
				
				<p>&nbsp</p>
				<p><b>Response:</b></p>
				<p><b>JSON example (片段):</b></p>
				<p><pre>
	[{
	    "profile_img_url": "http://a1.twimg.com/profile_images/662306770/logo_normal.png",
	    "screen_name": "bang590",
	    "name": "bang",
	    "description": "",
	    "followers_count": 3410,
	    "friends_count": 91,
	    "statuses_count": 4586
	  },
	  ……
	]</pre></p>
				
				<p><h3>browse</h3></p>
				<p>随便看看</p>
				
				<p>&nbsp</p>
				<p><b>URL:</b></p>
				<p>http://twiteseapi.appspot.com/browse.json</p>
				
				<p>&nbsp</p>
				<p><b>HTTP Method:</b></p>
				<p>Response</p>
				
				<p>&nbsp</p>
				<p><b>Parameters:</b></p>
				<p>count (可选) 指定返回的条数，范围0-50，默认为20
				<p>page (可选) 指定返回的页码，默认为1</p>
				
				<p>&nbsp</p>
				<p><b>Response:</b></p>
				<p><b>JSON example (片段):</b></p>
				<p><pre>
	[{
	    "profile_img_url": "http://a1.twimg.com/profile_images/662306770/logo_normal.png",
	    "screen_name": "bang590",
	    "name": "bang",
	    "text": "推内容",
	    "created_at": "2010-02-26 15:15:50",
	    "id": 6465851422,
	    "source": "&lt;a href='http://twitese.webbang.net'&gt;twitese&lt;/a&gt;"
	  },
	  ……
	]
				</pre></p>
			</div>
			<div class="clear"></div>
{% include "footer.html" %}